:root{
    --teal:#BEE3DC;
    --blue:#3D4680;
    --orange:#E87C5D;
    --red:#AF1F24;
    --white:#FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: var(--teal);
}

a{
    text-decoration: none;
}