:root{
    --teal:#BEE3DC;
    --blue:#3D4680;
    --orange:#E87C5D;
    --red:#AF1F24;
    --white:#FFFFFF;
    --header-height: 80px;
}

.header-wrapper{
    display: flex;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 10;
    background: var(--orange);
}

.app{
    padding-top: var(--header-height);
    width: 100vw;
}

.header-left, .header-mid, .header-right{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-link {
    color: var(--white);
    font-family: 'montserrat', sans-serif;
    font-size: .8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .7s ease;
    width: 33.3333%;
}

.header-link:hover {
    background: var(--red);
    transition: background-color .7s ease;
}

.active-link {
    background: var(--red);
}

@media screen and (max-width: 479px) {
    .header-wrapper{
        height: 80px;
    }

    .header-mid{
        width: 0%;
    }

    .header-left{
        width: 25%;
    }

    .header-right{
        width: 75%;
    }

    .header-logo{
        width: 80%;
    }
}