.header-intro{
    display: flex;
    background: var(--orange);
}

.intro-text-wrapper{
    color: var(--white);
}

.intro-title{
    color: var(--red);
    font-family: montserrat;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.intro-text-one, .intro-text-two{
    font-family: montserrat;
}

.intro-text-one{
    font-style: italic;
}

.story-wrapper{
    background: var(--white);
}

.story-block-one, .story-block-two{
    color: var(--orange);
    font-family: sugar;
}

.story-block-text{
    font-family: montserrat;
    color: var(--blue);
}

.story-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-subtitle{
    font-family: sugar;
}

@media screen and (max-width: 479px) {
    .intro-title{
        font-size: 5vw;
    }

    .header-intro{
        flex-direction: column;
        align-items: center;
    }

    .intro-image{
        width: 50%;
        margin: 10% 0 10% 0;
    }

    .intro-text-wrapper{
        width: 70%;
        margin: 0 0 20% 0;
    }

    .intro-subtitle{
        margin: 2% 0 2% 0;
        font-size: 3vw;
    }

    .intro-text-one, .intro-text-two{
        font-size: 3vw;
        margin: 2% 0 2% 0;
    }

 
    .story-wrapper{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story-title{
        font-size: 10vw;
        margin: 5% 0 5% 0;
    }

    .story-block-text{
        font-size: 3vw;
        margin-bottom: 5%;
    }

    .story-image{
        width: 100%;
    }

    .story-image-bottom{
        width: 80%;
        margin-bottom: 20%;
    }
}